<header th:fragment="landingHeader"
        class="landingHeader"
>
  <div class="landingHeader--img-wrapper">
    <img class="landingHeader--img-wrapper__img"
         th:src="@{/images/wordivore.png}"
     alt="Brand logo of Wordivore"
    >
  </div>
  <ul class="landingHeader--signin">
    <li hx-get="/login"
        hx-target="main"
        hx-swap="innerHTML"
        hx-push-url="/login"
        class="label-font"
    >Sign In
    </li>
  </ul>
</header>

<header th:fragment="loginHeader" class="loginHeader">
  <div class="loginHeader--img-wrapper">
   <img class="loginHeader--img-wrapper__img"
        th:src="@{/images/wordivore.png}"
   >
  </div>
</header>

<header th:fragment="authenticatedHeader" class="authenticatedHeader">
  <div class="authenticatedHeader--img-wrapper">
    <img class="authenticatedHeader--img-wrapper__img"
         th:src="@{/images/wordivore.png}"
    >
  </div>

  <form class="authenticatedHeader--form"
        th:action="@{/books/isbn}"
        method="post"
        th:attr="hx-post=@{/books/isbn}"
  >

    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"
    />

    <input type="text"
             placeholder="Input isbn"
             name="isbn"
             id="searchIsbn"
             class="authenticatedHeader--form__inputIsbn"
    />

    <input type="submit" hidden>
  </form>

  <div class="authenticatedHeader--logout">
    <button sec:authorize="isAuthenticated()"
            hx-post="/logout"
            hx-target=".wrapper"
            hx-swap="innerHTML"
            hx-push-url="/"
            class="authenticatedHeader--logout__btn"
    >Sign out
    </button>
  </div>
</header>