<main th:fragment="userLibraryLanding" id="main">
  <div>
    <span th:text="${'@' + username}"></span>
  </div>

  <div id="userLibraryLanding">
    <p th:if="${#lists.isEmpty(books)}">Nothing here yet.</p>
    <div th:replace="~{fragments/main :: list(books=${books})}">
    </div>
  </div>

    <button th:attr="hx-get=@{/books/all}"
            hx-push-url="true"
            hx-target="main"
            hx-swap="outerHTML"
    >
        View all
    </button>
</main>


<div th:if="${not #lists.isEmpty(books)}"
     th:each="b : ${books}"
     th:fragment="list(books)">

    <a href="#">
        <img th:src="${prefix + b.isbn10 + '-M.jpg'}">
    </a>
</div>



<main th:fragment="viewAll" id="viewAll">
    <div>
        <span th:text="${'@' + username}"></span>
    </div>

    <div id="userLibraryViewAll">
        <p th:if="${#lists.isEmpty(books)}">Nothing here yet.</p>
        <div th:replace="~{fragments/main :: list(books=${books})}">
        </div>
    </div>
</main>
