.userHeader, .landingHeader {
    grid-area: header;
    display: grid;
    align-items: center;
}

.userHeader {
    grid-template-columns: 0.5fr 1fr max-content;
    gap: 10px;
}

.adminHeader__header {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

.landingHeader {
     grid-template-columns: 1fr 1fr;
}

.userHeader__img, .landingHeader--img-wrapper__img {
    width: 50px;
}

.userHeader__logout--btn,
.landingHeader--signin,
.adminHeader__logout {
    text-align: end;
    height: 50px;
}

.loginHeader--link{
    display: grid;
    place-items: center;
}

.loginHeader--img-wrapper__img {
    width: 40%;
}

.label-font {
    font-family: atkinsonHyperlegibleNextLight;
    font-size: 12px;
}

.userHeader__form--inputIsbn{
    height: 50px;
}