@font-face {
    font-family: atkinsonHyperlegibleNextRegular;
    src: url("/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
}

@font-face {
    font-family: atkinsonHyperlegibleNextLight;
    src: url("/fonts/AtkinsonHyperlegibleNext-Light.woff2") format("woff2");
}

@font-face {
    font-family: atkinsonHyperlegibleNextBold;
    src: url("/fonts/AtkinsonHyperlegibleNext-Bold.woff2") format("woff2");
}

* {
padding: 0;
margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button, input[type="submit"]  {
    font-family: atkinsonHyperlegibleNextLight;
    padding: 8px 12px;
    background-color: rgb(177, 43, 36);
    color: white;
    border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    background-color: #F5F5DC;
    font-family: atkinsonHyperlegibleNextRegular, sans-serif;
}

input{
    box-sizing: border-box;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px
}

input:focus{
    border: 2px solid rgb(177, 43, 36);
}



.wrapper {
    min-height: 100svh;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: min-content auto auto;
    gap: 30px;
    padding: 0 20px
}


#main, main, .login-block {
    grid-area: main;
    display: grid;
    place-items: center;
    gap: 30px;
}

#userLibraryLanding{
    display: flex;
    gap: 40px;
}

footer, .footer {
    grid-area: footer;
    font-family: atkinsonHyperlegibleNextLight;
    font-size: 10px;
    display: grid;
    align-items: end;
}

.login--form {
    display: grid;
    gap: 10px;
}

.login--submit {
    justify-self: center;
    width: 30%;
}


@media only screen and (min-width: 992px) {
}

.landing {
    display: grid;
    place-content: center;
    text-align: center;
    gap: 10px;
}

.landing__login-btn {
    background-color: white;
    color: black;
}

.text-muted{
    color: gray;
}

.img--book {
    max-width: 100px;
    heigh: 128px;
}
