<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Emancipate The Self</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script>
        document.addEventListener("htmx:configRequest", (e) => {
            const token = document.querySelector('meta[name=_csrf]').content;
            const header = document.querySelector('meta[name=_csrf_header]').content;
            e.detail.headers[header] = token;
        });
    </script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="~{fragments/header :: header}"></div>

        <main sec:authorize="isAnonymous()"
            th:replace="~{fragments/landing :: landing}"
        ></main>
        <main sec:authorize="isAuthenticated()"
            th:replace="~{fragments/main :: main}"
        ></main>

        <div th:replace="~{fragments/footer :: footer}"></div>

    </div>
</body>
<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
</html>